.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__main {
  flex: 1;
  padding: 2rem;
  background-color: var(--bg-color);
}

.main-content {
  flex: 1;
  margin-top: 78px;
  padding: 20px;
  background-color: var(--background-light);
}

@media (max-width: 768px) {
  .app__main {
    padding: 1rem;
  }
}
